.form {
  text-align: left;
  z-index: 999;
}

.form input {
  display: block;
  width: 100%;
  height: 1.5rem;
}
.form label {
  display: block;
}

.preview {
  margin-top: 1rem;
  width: 80%;
  height: 50%;
  z-index: 999;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
