.div {
  position: relative;
  display: flex;
}

.reference {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.workbenchMenu {
  background-color: white;
  border: 10px solid #26ade4;
  border-radius: 5px;
}

.colorPicker div {
  height: 30px;
  border: none;
}

.hr {
  margin-bottom: 0px;
  border-color: rgba(0, 0, 0, 0.1);
}
