.div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4rem;
}

.divBackground {
  padding: 4rem;
  text-align: center;
  background-color: #ffffff;
  border-top-right-radius: 50px;
  height: 100%;
  border-top-left-radius: 50px;
  z-index: 0;
}

.divHeader {
  display: flex;
  margin-bottom: 3rem;
}

.divHeader > * {
  z-index: 2;
}

.div > * {
  z-index: 2;
}

.divHeaderText {
  width: 50%;
}

.divHeaderImage {
  align-self: end;
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 50%;
  background-image: url("../gestureExample.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.divBlueSkew {
  position: absolute;
  height: 50vh;
  rotate: 45deg;
  top: 170%;
  left: -50%;
  width: 200%;
  background-color: #4dbce9;
  z-index: 0;
}

.divVideo {
  display: flex;
  margin-bottom: 7rem;
}

.divVideo > * {
  z-index: 2;
}
.divVideoText {
  margin-left: 1rem;
  width: 50%;
}

.divWorkbench > * {
  position: relative;
  z-index: 3;
}

/* .color1 { #d1e751 };
.color2 { #ffffff };
.color3 { #000000 };
.color4 { #4dbce9 };
.color5 { #26ade4 }; */
